# URL de conexión de MongoDB
# Para MongoDB Compass local: mongodb://localhost:27017
# Para MongoDB Atlas: mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/
MONGODB_URI=mongodb://localhost:27017
